body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 40px;
}

button {
    padding: 0;
}

legend{
    border-bottom: 0px;
}
/* Custom container */
.container-medium {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 700px;
    position: relative;
    /*background: url("../Images/base-noise.jpeg") whitesmoke;*/
    -webkit-font-smoothing: antialiased;
}

.container-medium > hr {
    margin: 30px 0;
}

#main-content{
    margin-top: 20px;

}
/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.footer {
    position: absolute; 
    bottom: 0;
}
